.appContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(192, 230, 243),  rgb(213, 235, 245));
}